@model APawelec_Nexio_rekrutacja.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ona</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>Imię: @Html.TextBoxFor(x => x.Imie)</p>
            <p>Wiek: @Html.EditorFor(x => x.DataUrodzenia)</p>
            <p>Kolor oczu: @Html.DropDownListFor(
                x => x.KolorOczu, new[]
                    {
                            new SelectListItem() { Text="Brązowy", Value="brazowy"},
                            new SelectListItem() { Text="Niebieski", Value="niebieski"}
                    }
                ) </p>
            <p>Wzrost: @Html.TextBoxFor(x => x.Wzrost, new { @type = "number" })</p>
            <input type="submit" value="OK" />
        }
    </div>
</body>
</html>
